[submodule "3rd-party/chimeraos"]
	path = 3rd-party/chimeraos
	url = https://github.com/ChimeraOS/chimeraos.git
[submodule "3rd-party/chimera-data"]
	path = 3rd-party/chimera-data
	url = https://github.com/ChimeraOS/chimera-data.git
[submodule "3rd-party/PowerControl"]
	path = 3rd-party/PowerControl
	url = https://github.com/mengmeet/PowerControl.git
[submodule "3rd-party/holoiso_install_main"]
	path = 3rd-party/holoiso_install_main
	url = https://github.com/HoloISO/holoiso_install_main.git
	branch = beta
[submodule "3rd-party/jupiter-hw-support"]
	path = 3rd-party/jupiter-hw-support
	url = https://gitlab.com/evlaV/jupiter-hw-support.git
